<div class="container">
  <div class="row">
    <div class="col-md-4">
      <section class="image-section">
        <img src="assets/pictures/AdobeStock_98896998-min-scaled.jpg" alt="outils de menuiserie"
          class="img-fluid" />
      </section>
    </div>
    <div class="col-md-7">
      <section class="content-section">
        <h3> Bienvenue chez l'Artisan </h3>
        <p>À la croisée de la tradition et de l'innovation, l'Artisan incarne l'excellence dans l'art de la menuiserie
          et de la métallerie.</p>
        <h4>Notre Métier : Créer des Armoires et Étagères d'Exception</h4>
        <p>En tant qu'artisan expérimenté, je me spécialise dans la conception sur mesure d'armoires et d'étagères,
          harmonieusement fusionnant le bois, l'acier et le plastique.</p>
      </section>
    </div>
  </div>
  <div class="col-md-12">
    <h4>Des Matériaux Nobles, Une Expertise Authentique</h4>
    <p>Que ce soit la chaleur du bois, la robustesse de l'acier ou la polyvalence du plastique, chaque matériau est
      soigneusement sélectionné pour assurer une qualité exceptionnelle et une durabilité remarquable. Mon
      engagement envers l'authenticité artisanale se reflète dans chaque détail, de la conception à la réalisation.
    </p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Explorez Notre Galerie : Votre Source d'Inspiration</h4>
      <div class="d-flex">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="assets/pictures/7d34ab4c348a610de7e3b2dc0ae52a20.jpg" alt="image Armoire">
          <div class="card-body">
            <h5 class="card-title">Bois,Fer & Plastique</h5>
            <p class="card-text">Armoire</p>
            <button (click)="goToListFurniture('cupboard')">go</button>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/pictures/1c1e60e50e39cb94c4c556546b2fc40f.jpg" alt="image Armoire">
          <div class="card-body">
            <h5 class="card-title">Bois,Fer & Plastique</h5>
            <p class="card-text">Étagères</p>
            <button (click)="goToListFurniture('shelf')">go</button>
          </div>
        </div>
      </div>
    </div>
    <h4>Contactez-moi pour une Consultation Personnalisée</h4>
    <p>Prêt à donner vie à vos projets de menuiserie et de métallerie ? Contactez-moi pour une consultation
      personnalisée. Ensemble, nous créerons des armoires et des étagères qui transcenderont l'ordinaire et apporteront
      une touche unique à votre espace.</p>

  </div>
</div>