<h2>Matériaux utilisés</h2>

<h3>{{ metal.length > 1 ? "Métaux" : "Métal" }}</h3>
<div class="container-metal">
  <mat-card *ngFor="let elem of metal" class="example-card">
    <mat-card-header>
      <mat-card-title>{{ elem["name"].charAt(0).toUpperCase() + elem["name"].slice(1) }}</mat-card-title>
      <mat-card-subtitle>Métal</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>fournisseur: {{ elem["provider"] }}</p>
      <p>{{ elem["description"] }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isLogged">
      <button mat-button (click)="goToStat(elem)">Voir les statitiques</button>
    </mat-card-actions>
  </mat-card>
</div>

<h3>Bois</h3>
<div class="container-metal">
  <mat-card *ngFor="let elem of wood" class="example-card">
    <mat-card-header>
      <mat-card-title>{{ elem["name"].charAt(0).toUpperCase() + elem["name"].slice(1) }}</mat-card-title>
      <mat-card-subtitle>Bois</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>fournisseur: {{ elem["provider"] }}</p>
      <p>{{ elem["description"] }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isLogged">
      <button mat-button (click)="goToStat(elem)">Voir les statitiques</button>
    </mat-card-actions>
  </mat-card>
</div>



<h3>Plastique</h3>
<div class="container-plastic">
  <mat-card *ngFor="let elem of plastic" class="example-card">
    <mat-card-header>
      <mat-card-title>{{ elem["name"].charAt(0).toUpperCase() + elem["name"].slice(1) }}</mat-card-title>
      <mat-card-subtitle>Plastique</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>fournisseur: {{ elem["provider"] }}</p>
      <p>{{ elem["description"] }}</p>
      
    </mat-card-content>
    <mat-card-actions *ngIf="isLogged">
      <button mat-button (click)="goToStat(elem)">Voir les statitiques</button>
    </mat-card-actions>
  </mat-card>
</div>