<h2>Matériaux utilisés</h2>

<h3>Fer</h3>
<p>Fournisseur: MetaLo</p>
<div class="container-metal">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Aluminium</mat-card-title>
      <mat-card-subtitle>Fer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>fournisseur: MetaLo</p>
      <p>description de l'aluminium</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToStat()">Voir les statitiques</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Inox</mat-card-title>
      <mat-card-subtitle>Fer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>fournisseur: MetaLo</p>
      <p>description de l'Inox</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToStat()">Voir les statitiques</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Acier</mat-card-title>
      <mat-card-subtitle>Fer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>fournisseur: MetaLo</p>
      <p>description de l'Acier</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToStat()">Voir les statitiques</button>
    </mat-card-actions>
  </mat-card>

</div>

<p>en cliquant sur le bouton voir les statistiques (visible que si on est coonecté en temps qu'admin) on est dirigé vers une page statitique:
    -nombre de fois que le matériaux a été utilisé  en tout
    -dans quel mobilier on le retrouve 
    -les différentes dates de création (pour savoir quand il a été utilisé) </p>

<h3>Bois</h3>
<p>Fournisseur: BBois</p>
<div class="container-metal">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Chêne</mat-card-title>
      <mat-card-subtitle>Bois</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>fournisseur: BBois</p>
      <p>description du Chêne</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToStat()">Voir les statitiques</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Frêne</mat-card-title>
      <mat-card-subtitle>Bois</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>fournisseur: BBois</p>
      <p>description du Frêne</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToStat()">Voir les statitiques</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Noyer</mat-card-title>
      <mat-card-subtitle>Bois</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>fournisseur: BBois</p>
      <p>description du Noyer</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToStat()">Voir les statitiques</button>
    </mat-card-actions>
  </mat-card>
</div>



<h3>Plastique</h3>
<p>Fournisseur:  pPlastique</p>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Plastique</mat-card-title>
      <mat-card-subtitle>Plastique</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>fournisseur: pPlastique</p>
      <p>description du Plastique</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToStat()">Voir les statitiques</button>
    </mat-card-actions>
  </mat-card>
