<h2>Dashboard</h2>
<h4>Date des commandes</h4>
<mat-card class="demo-inline-calendar-card">
  <mat-calendar [dateClass]="dateClass"></mat-calendar>
  </mat-card>

   <!-- <ngx-charts-pie-chart
  [results]="datamaterials"
  [view]="viewPC"
  [animations]="animationPC"
  [scheme]="colorSchemePC"
  [labels]="labelsPC"
  [doughnut]="doughnut"
  [tooltipText]="percentageFormatterPC"
></ngx-charts-pie-chart> -->

<h4>Mes Commandes de Mobiliers </h4>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom du mobilier</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> quantité </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date.toLocaleDateString()}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>