<h3>Créer ou Modifier un meuble</h3>
<form [formGroup]="furnitureForm" (ngSubmit)="onSubmit()">
  <div class="add-furniture-form">
    <div>
      <label for="name">Nom du meuble</label>
      <input type="text" id="name" formControlName="name" required>
    </div>

    <div>
      <label for="category">Type</label>
      <select formControlName="category" required>
        <option value="shelf">Étagère</option>
        <option value="cupboard">Armoire</option>
      </select>
    </div>

    <div>
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" required></textarea>
    </div>

    <!-- <div>
      <label for="pictures">Importer une image</label>
      <input type="file" id="pictures" formControlName="pictures" required>
    </div> -->

    <div>
      <label for="price">Prix</label>
      <input type="number" id="price" formControlName="price" required>
    </div>

    <div>
      <label for="quantity">Quantité à produire</label>
      <input type="number" id="quantity" formControlName="quantity" required>
    </div>

    <div formArrayName="components">
      <div *ngFor="let componentForm of components.controls; let i = index" [formGroupName]="i">
        <h3>Matériaux {{ i + 1 }}</h3>
        <div>
          <label for="componentName">Nom du Matériaux</label>
          <select formControlName="material" id="componentName">
            <option *ngFor="let elem of materialsList" [value]="elem['id']">{{ elem["name"] }}</option>
          </select>
        </div>

        <div>
          <label for="componentQuantity">Quantité</label>
          <input type="number" id="componentQuantity" formControlName="quantity" required>
        </div>

        <button type="button" (click)="deleteMaterial(i)">-</button>
      </div>
    </div>

    <button type="button" (click)="addMaterials()">+</button>

    <button type="submit">OK</button>
  </div>
</form>